.mission-page{
    min-height:100vh;
    background:#0b1120;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}

.mission-page h1{
    font-size:52px;
    margin-bottom:35px;
    text-shadow:0 0 15px cyan;
}

.mission-card{
    width:720px;
    background:#161b22;
    border:2px solid cyan;
    border-radius:20px;
    padding:40px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,255,255,.5);
}

.mission-card h2{
    color:#00e5ff;
    margin-bottom:25px;
    font-size:34px;
}

.mission-card p{
    font-size:22px;
    line-height:1.8;
    color:#ddd;
}

.reward{
    margin-top:35px;
    margin-bottom:35px;
}

.reward h3{
    color:gold;
    margin-bottom:15px;
    font-size:30px;
}

.reward p{
    color:#9cff57;
    font-size:26px;
    font-weight:bold;
    margin:8px 0;
}

.quiz-btn{
    padding:16px 45px;
    border:none;
    border-radius:12px;
    background:#00bcd4;
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.quiz-btn:hover{
    background:#0097a7;
    transform:scale(1.08);
    box-shadow:0 0 20px cyan;
}