/* ==========================
   JavaVerse Lobby CSS
========================== */

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
}

/* Background */

.lobby-page{
    min-height:100vh;
    width:100%;
    padding:30px 20px  120px;
    box-sizing:border-box;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

/* Title */

.lobby-title{
    font-size:50px;
    color:#ffffff;
    text-shadow:0 0 15px #00e5ff;
    margin-bottom:40px;
}

/* Player Card */

.player-card{
    width:90%;
    max-width:900px;

    display:flex;
    align-items:center;
    gap:30px;

    background:#161b22;
    border-radius:20px;
    padding:30px;

    box-shadow:0 0 15px rgba(0,229,255,.3);
}

/* Avatar */

.avatar{
    width:120px;
    height:120px;
    border-radius:50%;
    background:#0d1117;

    display:flex;
    justify-content:center;
    align-items:center;

    border:3px solid #00e5ff;
}

.avatar-img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
}

/* Player Info */

.player-info{
    text-align:left;
}

.player-info h2{
    margin-bottom:10px;
    color:white;
}

.player-info p{
    margin:8px 0;
    color:#cfd8dc;
}

/* XP */

.xp-box{
    margin-top:15px;
}

.xp-bar{
    width:300px;
    height:15px;
    background:#333;
    border-radius:20px;
    overflow:hidden;
}

.xp-fill{
    width:40%;
    height:100%;
    background:linear-gradient(to right,#00e676,#00b0ff);
}

/* Quest Card */

.quest-card{
    width:90%;
    max-width:900px;
    margin-top:25px;
    background:#161b22;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 0 15px rgba(88,166,255,.3);
}
.quest-card h2{
    margin-bottom:15px;
    color: #ffffff;
    text-align:center;
}
.reward{
    color:#00e676;
    font-weight:bold;
}

/* Buttons */

.button-section{
    width:90%;
    max-width:900px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-top:25px;
    margin-bottom:80px;
}
.game-btn,
.logout-btn{
    padding:15px;
    font-size:18px;
    font-weight:bold;
    border:none;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}
.game-btn{
    background:#1976d2;
    color:white;
}

.game-btn:hover{
    background:#42a5f5;
    transform:translateY(-4px);
}

.logout-btn{
    background:#d32f2f;
    color:white;
}

.logout-btn:hover{
    background:#ef5350;
    transform:translateY(-4px);
}

/* Logout Full Width */

.logout-btn{
    grid-column:1 / -1;
}

/* Responsive */

@media (max-width:768px){

.player-card{
    flex-direction:column;
    text-align:center;
}

.player-info{
    text-align:center;
}

.button-section{
    grid-template-columns:1fr;
}

.logout-btn{
    grid-column:auto;
}

.xp-bar{
    width:220px;
}

.lobby-title{
    font-size:35px;
}

}